.btn {
  width: 7rem;
  height: 6rem;
  border-radius: 35px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(2px) saturate(2);
  border: 1px solid rgba(255, 255, 255, 0.1);
  transform: translateY(-350px);
  box-shadow: 
    /* 1. Outer Drop Shadow (The shadow on the floor) */ 10px 10px
      20px rgba(0, 0, 0, 0.3),
    /* 2. Top-Left Inner Highlight (The light source) */ inset 4px 4px 10px
      rgba(255, 255, 255, 0.2),
    /* 3. Bottom-Right Inner Shadow (The depth) */ inset -4px -4px 10px
      rgba(0, 0, 0, 0.2);
}

.btn:hover {
  /* 1. Brighten the glass */
  background: rgba(255, 255, 255, 0.2);

  /* 2. Change shadows to make it "Glow" */
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.6),
    /* Outer white glow */ inset 0 0 15px rgba(255, 255, 255, 0.8); /* Inner white glow */

  /* 3. Move it slightly UP (Note: We must keep the original -350px) */
  transform: translateY(-360px) scale(1.05);
}

.transition {
  transition: all;
  transition-property: transform;
  transition-duration: 3s;
  transition-timing-function: ease-in;
  transition-delay: 0.5s;
}

.animate {
  animation-name: slideInLeft;
  animation-timing-function: ease;
  animation-duration: 1.5s;
  /* animation-delay: 0.3s; */
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: both;
}

@keyframes slideInLeft {
  from {
    transform: translateX(-350px);
  }

  to {
    transform: translateX(0);
  }
}
