.container {
  /* background-image: linear-gradient(#0b0347, #3b2fa9) ; */
  display: grid;
  place-content: center;
  height: 100dvh;
}

.display-container {
  margin-bottom: 30px;
}

.btn-container {
  display: grid;
  place-content: center;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

