* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-image: linear-gradient(
      to bottom right,
      rgba(255, 255, 255, 0.188),
      rgba(255, 255, 255, 0.088)
    ),
    url("/images/counter-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.animate {
  animation-name: slideInLeft;
  animation-timing-function: ease;
  animation-duration: 3s;
  animation-delay: 1s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: both;
}

@keyframes slideInLeft {
  from {
    transform: translateX(-350px);
  }

  to {
    transform: translateX(0);
  }
}
